.CardDiv{
    display: flex;
}

.Card1{
    width: 100px;
    height: 100px;
    left: 0;
   
}
.Card2{
    width: 100px;
    height: 100px;
    left: 0;
}
.Card3{
    width: 100px;
    height: 100px;
    right: 0;
}