.CardDiv{
   
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
}



.ImageName {
    text-align: center;
    position: absolute;
    bottom: -8px;
    padding: 10px;
    width: 100%;
    background-color: #0000006b;
    color: white;
    border-radius: 0px 0px 25px 25px;
}

.ImageDesign {
    border-radius: 25px;
}