


.Explore{
    color: rgb(1, 1, 20);
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(163, 177, 197));
    margin: 0;
    float: center;
    padding: 15px
    
}
